Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer - A database is a structured collection of data that is organized in a way that allows easy access, retrieval, and management of information. It is a central repository that stores data and helps manage and organize it efficiently.

SQL databases use a relational data model, where data is stored in tables with predefined columns and relationships between them. SQL is a standard language used to query and manage relational databases. It is used for inserting, updating, deleting, and retrieving data in a structured format. SQL databases are known for their strong consistency and ACID properties, making them suitable for applications that require strict data integrity and consistency, such as financial systems or e-commerce applications.

On the other hand, NoSQL databases use a non-relational data model and do not rely on predefined schemas or relationships. They store data in a more flexible and dynamic format, such as documents, key-value pairs, or graphs. NoSQL databases are designed for high scalability, availability, and performance, making them suitable for applications that require handling large volumes of unstructured or semi-structured data, such as social media, gaming, or IoT applications. NoSQL databases typically use their own query languages, such as MongoDB's BSON or Cassandra's CQL, which are designed for specific data models and use cases.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer - DDL statements are used to define and manage the structure of a database, including creating, modifying, and deleting database objects. The CREATE statement is used to create new objects, the DROP statement is used to remove objects, the ALTER statement is used to modify objects, and the TRUNCATE statement is used to remove all data from a table while keeping its structure intact.

Create = The CREATE statement is used to create a new database object, such as a table, index, or view.

DROP: The DROP statement is used to remove an existing database object.

ALTER: The ALTER statement is used to modify an existing database object, such as adding or removing columns, changing data types, or renaming objects.

TRUNCATE: The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer = DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as:

CRUD operations to create, read, update and delete data.
Using INSERT, SELECT, UPDATE, and DELETE commands.
DML commands are often part of a more extensive database language, for example, SQL (structured query language). These DMLs can have a specific syntax to handle data in that language.
DML has two main classifications which are procedural and non-procedural programming, which is also called declarative programming. The SQL dealing with the manipulation of data present in the database belongs to the DML or Data Manipulation Language, including most of the SQL statements.

INSERT
Insert command is used to insert data into a table.

The syntax for INSERT command is as follows −

Syntax

Insert into <table_name> (column list) values (column values);

DELETE
Delete command is used to delete records from a database table.

The syntax for the delete command is as follows -

Syntax

 Delete from <table_name>WHERE condition
 
UPDATE
Update command is used to update existing data within a table.

The syntax for the update command is as follows -

Syntax

UPDATE <table_name> SET column_number =value_number WHERE condition

Q4. What is DQL? Explain SELECT with an example.

Answer - DQL stands for Doctrine Query Language and is an Object Query Language derivative that is very similar to the Hibernate Query Language (HQL) or the Java Persistence Query Language (JPQL).

In essence, DQL provides powerful querying capabilities over your object model. Imagine all your objects lying around in some storage (like an object database). When writing DQL queries, think about querying that storage to pick a certain subset of your objects.

Example  = SELECT u, p.quantity FROM Users u...

Q5. Explain Primary Key and Foreign Key.

Answer A Primary key is a unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.

The primary key column has a unique value and doesn’t store repeating values. A Primary key can never take NULL values.

For example, in the case of a student when identification needs to be done in the class, the roll number of the student plays the role of Primary key.

Similarly, when we talk about employees in a company, the employee ID is functioning as the Primary key for identification.

A Foreign key is beneficial when we connect two or more tables so that data from both can be put to use parallelly.

A foreign key is a field or collection of fields in a table that refers to the Primary key of the other table. It is responsible for managing the relationship between the tables.

The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the Parent Table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="local",
  user="78437c",
  password="jklwe"
)

cursor and execution

cursor = Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on the Table by the User. Cursors are used to store Database Tables.

execution = EXECUTE FUNCTION specifies fewer arguments than the user-defined function expects, the unspecified arguments are said to be missing. Missing arguments are initialized to their corresponding parameter default values, if these were defined. The syntax of specifying default values for parameters is described in Routine Parameter List.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.